/**
 * Crud
**/
#crud-table {
    @apply bg-box-background;

    .ns-crud-input {
        @apply bg-input-background border-input-edge;

        input {
            @apply text-primary;
        }
    }
    
    .ns-table-row {
        @apply border-table-th-edge;

        td {
            @apply border-table-th-edge text-typography;
        }

        .ns-menu-wrapper > div {
            @apply bg-box-elevation-background;
        }

        .ns-action-button {
            @apply text-secondary;

            &:hover {
                @apply bg-info-secondary text-white;
            }

            &:focus {
                @apply outline-none;
            }
        }
    }

    .ns-crud-button, .ns-crud-input-button {
        @apply border-crud-button-edge bg-white text-primary;

        &.table-filters-enabled {
            @apply bg-info-tertiary text-primary;
        }
    
        &.table-filters-disabled {
            @apply text-secondary border-crud-button-edge;
        }

        &:hover {
            @apply border-transparent bg-info-tertiary text-white;
            i {
                @apply text-white;
            }
        }
    }
}

#crud-form {
    .ns-crud-button, .ns-crud-input-button {
        @apply border-crud-button-edge bg-transparent text-typography;

        &.table-filters-enabled {
            @apply bg-info-tertiary text-primary;
        }
    
        &.table-filters-disabled {
            @apply text-secondary border-crud-button-edge;
        }

        &:hover {
            @apply border-transparent bg-input-button-hover text-typography;
        }
    }
    .ns-crud-input {
        @apply bg-input-background border-input-background;

        input {
            @apply text-primary bg-crud-button-edge;
        }
    }
}