.ns-notice {
    @apply text-white;
    &
    h1, h2, h3, h4, h5 {
        @apply text-white;
    }

    p, span {
        @apply text-white;
    }

    &.danger {
        @apply border-danger-secondary bg-danger-primary;
    
        pre {
            @apply bg-pre text-white;
        }
    }
    
    &.warning {
        @apply border-warning-tertiary bg-warning-tertiary;
    
        pre {
            @apply bg-pre text-white;
        }
    }
    
    &.success {
        @apply border-success-tertiary bg-success-tertiary;
    
        pre {
            @apply bg-pre text-white;
        }
    }
    
    &.error {
        @apply border-error-tertiary bg-error-tertiary text-primary;
    
        pre {
            @apply bg-pre text-white;
        }
    }
    
    &.info {
        @apply border-info-tertiary bg-info-tertiary;
    
        pre {
            @apply bg-pre text-white;
        }
    }
}

.ns-normal-text {
    @apply text-primary;
}