#loader {
    @apply bg-surface-tertiary;
    p {
        @apply text-primary;
    }
}
#pos-container {
    @apply bg-surface-tertiary;

    #header-buttons {
        button {
            @apply bg-white text-primary;
        }
    }

    #pos-cart {
        #tools {
            .switch-cart {
                @apply bg-white font-semibold text-primary;
                > span.products-count {
                    @apply bg-success-primary text-white;
                }
            }

            .switch-grid {
                @apply bg-surface-secondary border-transparent text-secondary;
            }
        }

        #cart-container {
            @apply bg-white;
            #cart-toolbox {
                @apply border-surface-tertiary;
                > div {
                    @apply border-surface-tertiary;

                    button {
                        @apply bg-surface-secondary border-surface-tertiary text-primary;
                        &:hover {
                            @apply bg-surface-primary;
                        }
                    }
                }
            }
            #cart-table-header {
                @apply text-primary;
                > div {
                    @apply border-surface-tertiary bg-white;
                }
            }
            #cart-products-table {
                > div {
                    @apply text-primary;

                    .product-item {
                        @apply border-surface-tertiary;

                        .remove-product {
                            @apply border-error-primary;   

                            &:hover {
                                @apply text-error-primary;
                            }
                        }

                        .price {
                            &:hover {
                                @apply text-info-secondary;
                            }
                        }

                        .wholesale-mode {
                            @apply text-success-primary bg-transparent border-success-primary;
                            &:hover {
                                @apply text-success-primary bg-transparent;
                            }
                        }

                        .normal-mode {
                            @apply border-info-primary;

                            &:hover {
                                @apply text-info-primary;
                            }
                        }

                        .product-controls {

                        }
                    }

                    .quantity-changer {
                        @apply border-surface-tertiary;

                        > span {
                            @apply border-info-primary;   
                        }

                        &:hover {
                            @apply bg-white;
                        }
                    }

                    .product-price {
                        @apply border-surface-tertiary;
                    }
                }
                .empty-cart {
                    @apply border-surface-tertiary;
                    h3 {
                        @apply text-secondary;
                    }
                }
            }

            #cart-products-summary {
                table {
                    @apply text-primary;
                    td {
                        @apply border-surface-tertiary;
                        
                        a {
                            @apply border-info-primary;

                            &:hover {
                                @apply text-info-primary;
                            }
                        }
                    }

                    .summary-line {
                        @apply bg-success-light-primary text-primary;

                        a {
                            @apply border-white;

                            &:hover {
                                @apply text-typography;
                            }
                        }
                    }
                }
            }

            #cart-bottom-buttons {
                @apply border-surface-tertiary; 

                #pay-button {
                    @apply bg-success-primary text-white border-r border-success-primary;

                    &:hover, &:active {
                        @apply bg-success-secondary;
                    }
                }

                #hold-button {
                    @apply bg-info-secondary text-white border-r border-info-secondary;

                    &:hover, &:active {
                        @apply bg-info-tertiary;
                    }
                }

                #discount-button {
                    @apply bg-white border-r border-surface-tertiary text-primary;

                    &:hover, &:active {
                        @apply bg-surface-tertiary;
                    }
                }

                #void-button {
                    @apply bg-error-primary text-primary border-surface-tertiary hover:bg-error-secondary;

                    &:hover, &:active {
                        @apply bg-error-secondary;
                    }
                }
            }
        }
    }

    #pos-grid {
        .switch-cart {
            @apply bg-surface-secondary border-transparent text-primary;

            .products-count {
                @apply bg-success-primary text-white;
            }
        }
        .switch-grid {
            @apply bg-white text-primary;
        }

        #grid-container {
            @apply bg-white;

            #grid-header {
                @apply border-surface-tertiary text-primary;
                > div {
                    @apply border-surface-tertiary;
                    button {
                        @apply bg-surface-secondary border-surface-tertiary;
                        &.pos-button-clicked {
                            @apply bg-surface-tertiary;
                            box-shadow: inset 0px 0px 5px 0px #303131;
                        }
                    }
                    input {
                        @apply bg-surface-primary;
                    }
                }
            }

            #grid-breadscrumb {
                @apply border-surface-tertiary;

                ul > li {
                    @apply text-primary;
                }
            }

            #grid-items {
                @apply text-secondary;

                .cell-item {
                    @apply border-surface-tertiary;

                    .cell-item-label {
                        background:rgb(250 250 250 / 73%);
                    }

                    &:hover {
                        @apply bg-white;
                    }

                    h3 {
                        @apply text-primary;
                    }

                    i, span {
                        @apply text-secondary;
                    }
                }
            }
        }
    }
}

.pos-button-clicked {
    box-shadow: inset 0px 0px 5px 0px #a4a5a7;
}

#ns-pos-customers {
    @apply bg-white;
    .ns-header {
        @apply border-white;
        h3 {
            @apply text-primary;
        }
    }
    .ns-body {
        @apply bg-white;
    }
}

#ns-order-type {
    @apply bg-white;
    h3 {
        @apply text-primary;
    }
    div > div {
        > i {
            @apply text-error-primary;
        }
        div > p {
            @apply text-secondary;
        }
    }
    div h4 {
        @apply text-primary;
    }
}

#ns-units-selector {
    .overlay {
        background:rgb(250 250 250 / 73%);
    }
}

#ns-payment-popup {
    > div {
        @apply bg-white;
        h3 {
            @apply text-primary;
        }
        ul li{
            @apply text-primary;
            &.ns-payment-gateway.ns-visible {
                @apply bg-tab-active;
            }
            &:hover {
                @apply bg-surface-secondary;
            }
            span.ns-label {
                @apply bg-success-primary text-white;
            }
        }
        .ns-payment-wrapper {
            @apply bg-surface-quaternary;
            ul li {
                @apply bg-surface-secondary text-primary;
                button {
                    @apply bg-error-primary text-white;
                }
            }
        }
        .ns-payment-buttons {
            .ns-payment-type-button {
                @apply text-white bg-info-primary;
            }
            .ns-submit-button {
                @apply bg-success-primary text-white;
            }
            .ns-layaway-button {
                @apply bg-warning-primary text-white;
            }
            .ns-payment-button {
                @apply bg-surface-secondary text-white;
                .ns-label {
                    @apply bg-success-primary text-white;
                }
            }
        }
        .ns-payment-list {
            @apply border-t-tab-active-border;
        }
        .ns-payment-footer {
            @apply bg-white;
        }
    }
}