:root {
    --text-primary: 55 65 81;
    --text-surface-secondary: 75 85 99;
    --text-surface-tertiary: 31 41 55;
    --bg-normal: 255 255 255;
    --bg-surface-secondary: 226 232 240;
    --bg-surface-tertiary: 203 213 225;
    --bg-extra-surface-tertiary: 148 163 184;
}