:root {
    --text-normal: 55 65 81;
    --text-smooth: 75 85 99;
    --text-hard: 31 41 55;
    --bg-normal: 255 255 255;
    --bg-smooth: 226 232 240;
    --bg-hard: 203 213 225;
    --bg-extra-hard: 148 163 184;
}