.env
vendor
error.log
node_modules
modules/*
!modules/.temp
modules/.temp/*
!modules/index.html
public/modules/*
public/storage
!public/modules/index.html
# public/js/*.js
public/js/*.map
public/js/*.txt
# public/css/*.css
public/css/*.map
public/mix-manifest.json
composer-lock.json
package-lock.json
composer.lock
.env.testing
.phpunit.result.cache
worker.log
storage/module.zip
.idea

public/js/*
public/css/*
