.env
vendor
mns-backup
mns-download
error.log
node_modules
composer-lock.json
.env.testing
.phpunit.result.cache
worker.log
*.log
*.ignore.*
*.log.*
modules/*
!modules/.temp
modules/.temp/*
!modules/index.html
public/modules/*
public/storage
public/export/*
!public/export/index.html
!public/modules/index.html
public/js/*.js
!public/js/*.min.js
!public/js/vendor.js
!public/js/manifest.js
public/css/*.css
!public/css/app.*.css
!public/css/light.*.css
!public/css/dark.*.css
!public/css/fonts.*.css
!public/css/typography.*.css
!public/css/grid.*.css
!public/css/animations.*.css
!public/css/line-awesome.css
public/js/*.map
public/js/*.txt
public/css/*.map
public/lang
public/modules-lang/*
!public/modules-lang/index.html
public/mapping.json
storage/module.zip
tests/database.sqlite
tests/database.sqlite-journal
tests/Post/*
storage/snapshots/*.sql
.idea
database/migrations/2019_12_14_000001_create_personal_access_tokens_table.php
tests/.coverage