.env
vendor
node_modules
modules/*
!modules/.temp
modules/.temp/*
!modules/index.html
public/modules/*
public/storage
!public/modules/index.html
composer-lock.json
package-lock.json
composer.lock
.env.testing
.phpunit.result.cache
worker.log