RewriteEngine on
RewriteRule ^$ public/ [L]
RewriteRule (.*) public/$1

Options +FollowSymLinks

<FilesMatch "\.json$">
    <IfModule mod_authz_core.c>
        Require all granted
    </IfModule>
    <IfModule !mod_authz_core.c>
        Order allow,deny
        Allow from all
    </IfModule>
</FilesMatch>