#ns-media {
    .sidebar {
        @apply bg-tab-active;
        h3 {
            @apply text-primary;
        }
        .sidebar-menus li {
            @apply border-transparent;
            &.active, &:hover {
                @apply bg-surface text-primary border-tab-active;
            }
        }
    }
    .content {
        @apply bg-surface;
        #ns-grid {  
            .ns-media-image-selected {
                @apply ring-info-tertiary ring-opacity-90;
            }
        }
        .ns-media-footer {
            @apply bg-tab-active;
        }

        .ns-media-upload-item {
            @apply bg-box-elevation-background;
            .error {
                @apply bg-error-primary;
            }
        }

        .ns-media-preview-panel {
            @apply bg-tab-active;
        }
    }
}