#ns-orders-chart {
    .head {
        @apply bg-box-background;
    }
    .foot {
        @apply bg-box-background; 
        & > div {
            @apply border-box-edge;
            span {
                @apply text-primary;
            }
            h2 {
                @apply text-primary;
            }
        }
    }
}

#ns-orders-summary {
    .title {
        @apply border-box-edge;
    }
    .head, .title {
        @apply bg-box-background;
        h3, i, h4, p, span {
            @apply text-typography;
        }
        .paid-order {
            @apply bg-success-primary text-typography;
        }
        .other-order {
            @apply bg-box-background text-primary;
        }
        .single-order {
            @apply border-success-tertiary;
        }
        .paid-currency {
            @apply text-typography;
        }
        .unpaid-currency {
            @apply text-primary;
        }
    }
}

#ns-best-customers, #ns-best-cashiers {
    @apply bg-box-background;
    .head {
        @apply bg-box-background border-box-edge text-primary;
    }
    .body {
        @apply text-primary bg-box-background;
        .entry {
            @apply border-box-edge;
        }
    }
}