.lar,
.las,
.lab {
  -moz-osx-font-surface-tertiarying: grayscale;
  -webkit-font-surface-tertiarying: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
