#loader {
    @apply bg-surface-quinary;
    p {
        @apply text-primary;
    }
}
#pos-container {
    @apply bg-surface-quinary;

    #header-buttons {
        button {
            @apply bg-surface-secondary text-primary;
        }
    }

    #pos-cart {
        #tools {
            .switch-cart {
                @apply bg-surface-tertiary font-semibold text-primary;
                > span.products-count {
                    @apply bg-success-primary text-white;
                }
            }

            .switch-grid {
                @apply bg-surface-tertiary border-transparent text-surface-secondary;
            }
        }

        #cart-container {
            @apply bg-surface-tertiary;
            #cart-toolbox {
                @apply border-surface-quaternary;
                > div {
                    @apply border-surface-quaternary;

                    button {
                        @apply bg-surface-secondary border-surface-quaternary text-primary;
                        &:hover {
                            @apply bg-surface-primary;
                        }
                    }
                }
            }
            #cart-table-header {
                @apply text-primary;
                > div {
                    @apply border-surface-quaternary bg-surface-tertiary;
                }
            }
            #cart-products-table {
                > div {
                    @apply text-primary;

                    .product-item {
                        @apply border-surface-quaternary;

                        .remove-product {
                            @apply border-error-primary;   

                            &:hover {
                                @apply text-error-primary;
                            }
                        }

                        .price {
                            &:hover {
                                @apply text-info-secondary;
                            }
                        }

                        .wholesale-mode {
                            @apply text-success-primary bg-transparent border-success-primary;
                            &:hover {
                                @apply text-success-primary bg-transparent;
                            }
                        }

                        .normal-mode {
                            @apply border-info-primary;

                            &:hover {
                                @apply text-info-primary;
                            }
                        }

                        .product-controls {

                        }
                    }

                    .quantity-changer {
                        @apply border-surface-quaternary;

                        > span {
                            @apply border-info-primary;   
                        }

                        &:hover {
                            @apply bg-surface-secondary;
                        }
                    }

                    .product-price {
                        @apply border-surface-quaternary;
                    }
                }
                .empty-cart {
                    @apply border-surface-quaternary;
                    h3 {
                        @apply text-secondary;
                    }
                }
            }

            #cart-products-summary {
                table {
                    @apply text-primary;
                    td {
                        @apply border-surface-quaternary;
                        
                        a {
                            @apply border-info-primary;

                            &:hover {
                                @apply text-info-primary;
                            }
                        }
                    }

                    .summary-line {
                        @apply bg-success-primary text-white;

                        a {
                            @apply border-white;

                            &:hover {
                                @apply text-white;
                            }
                        }
                    }
                }
            }

            #cart-bottom-buttons {
                @apply border-surface-quaternary; 

                #pay-button {
                    @apply bg-success-primary text-white border-r border-success-primary;

                    &:hover, &:active {
                        @apply bg-success-secondary;
                    }
                }

                #hold-button {
                    @apply bg-info-secondary text-white border-r border-info-secondary;

                    &:hover, &:active {
                        @apply bg-info-tertiary;
                    }
                }

                #discount-button {
                    @apply bg-surface-tertiary border-r border-surface-quaternary text-primary;

                    &:hover, &:active {
                        @apply bg-surface-quaternary;
                    }
                }

                #void-button {
                    @apply bg-error-primary text-white border-surface-quaternary hover:bg-error-secondary;

                    &:hover, &:active {
                        @apply bg-error-secondary;
                    }
                }
            }
        }
    }

    #pos-grid {
        .switch-cart {
            @apply bg-surface-tertiary border-transparent text-slate-400;

            .products-count {
                @apply bg-success-primary text-white;
            }
        }
        .switch-grid {
            @apply bg-surface-tertiary text-primary;
        }

        #grid-container {
            @apply bg-surface-tertiary;

            #grid-header {
                @apply border-surface-quaternary text-primary;
                > div {
                    @apply border-surface-quaternary;
                    button {
                        @apply bg-surface-secondary border-surface-quaternary;
                        &.pos-button-clicked {
                            @apply bg-surface-tertiary;
                            box-shadow: inset 0px 0px 5px 0px #303131;
                        }
                    }
                    input {
                        @apply bg-surface-tertiary;
                    }
                }
            }

            #grid-breadscrumb {
                @apply border-surface-quaternary;

                ul > li {
                    @apply text-primary;
                }
            }

            #grid-items {
                @apply text-secondary;

                .cell-item {
                    @apply border-surface-quaternary;

                    .cell-item-label {
                        background:rgb(0 0 0 / 73%);
                    }

                    &:hover {
                        @apply bg-surface-tertiary;
                    }

                    h3 {
                        @apply text-primary;
                    }

                    i, span {
                        @apply text-slate-400;
                    }
                }
            }
        }
    }
}

.pos-button-clicked {
    box-shadow: inset 0px 0px 5px 0px #a4a5a7;
}

#ns-pos-customers {
    @apply bg-surface-tertiary;
    .ns-header {
        @apply border-surface-secondary;
        h3 {
            @apply text-primary;
        }
    }
    .ns-body {
        @apply bg-surface-tertiary;
    }
}