#loader {
    @apply bg-slate-900;
    p {
        @apply text-slate-300;
    }
}
#pos-container {
    @apply bg-slate-900;

    #header-buttons {
        button {
            @apply bg-slate-600 text-slate-300;
        }
    }

    #pos-cart {
        #tools {
            .switch-cart {
                @apply bg-surface-tertiary font-semibold text-slate-300;
                > span.products-count {
                    @apply bg-green-400 text-white;
                }
            }

            .switch-grid {
                @apply bg-slate-800 border-transparent text-slate-500;
            }
        }

        #cart-container {
            @apply bg-surface-tertiary;
            #cart-toolbox {
                @apply border-surface-quaternary;
                > div {
                    @apply border-surface-quaternary;

                    button {
                        @apply bg-slate-600 border-surface-quaternary text-slate-300;
                        &:hover {
                            @apply bg-slate-500;
                        }
                    }
                }
            }
            #cart-table-header {
                @apply text-slate-300;
                > div {
                    @apply border-surface-quaternary bg-surface-tertiary;
                }
            }
            #cart-products-table {
                > div {
                    @apply text-slate-300;

                    .product-item {
                        @apply border-surface-quaternary;

                        .remove-product {
                            @apply border-red-500;   

                            &:hover {
                                @apply text-red-500;
                            }
                        }

                        .price {
                            &:hover {
                                @apply text-blue-600;
                            }
                        }

                        .wholesale-mode {
                            @apply text-green-500 border-green-500;
                            &:hover {
                                @apply text-green-600;
                            }
                        }

                        .normal-mode {
                            @apply border-blue-500;

                            &:hover {
                                @apply text-blue-500;
                            }
                        }

                        .product-controls {

                        }
                    }

                    .quantity-changer {
                        @apply border-surface-quaternary;

                        > span {
                            @apply border-blue-500;   
                        }

                        &:hover {
                            @apply bg-slate-600;
                        }
                    }

                    .product-price {
                        @apply border-surface-quaternary;
                    }
                }
                .empty-cart {
                    @apply border-surface-quaternary;
                    h3 {
                        @apply text-slate-200;
                    }
                }
            }

            #cart-products-summary {
                table {
                    @apply text-slate-300;
                    td {
                        @apply border-surface-quaternary;
                        a {
                            @apply border-blue-500;

                            &:hover {
                                @apply text-blue-500;
                            }
                        }
                    }

                    .summary-line {
                        @apply bg-green-500 text-white;
                    }
                }
            }

            #cart-bottom-buttons {
                @apply border-surface-quaternary; 

                #pay-button {
                    @apply bg-green-500 text-white border-r border-green-600;

                    &:hover {
                        @apply bg-green-600;
                    }
                }

                #hold-button {
                    @apply bg-blue-500 text-white border-r border-blue-600;

                    &:hover {
                        @apply bg-blue-600;
                    }
                }

                #discount-button {
                    @apply bg-surface-tertiary border-r border-surface-quaternary text-slate-300;

                    &:hover {
                        @apply bg-slate-600;
                    }
                }

                #void-button {
                    @apply bg-red-500 text-white border-surface-quaternary hover:bg-red-600;

                    &:hover {
                        @apply bg-red-600;
                    }
                }
            }
        }
    }

    #pos-grid {
        .switch-cart {
            @apply bg-slate-800 border-transparent text-slate-400;

            .products-count {
                @apply bg-green-500 text-white;
            }
        }
        .switch-grid {
            @apply bg-surface-tertiary text-slate-300;
        }

        #grid-container {
            @apply bg-surface-tertiary;

            #grid-header {
                @apply border-surface-quaternary;
                > div {
                    @apply border-surface-quaternary;
                    button {
                        @apply bg-slate-600 border-surface-quaternary;
                        &.pos-button-clicked {
                            @apply bg-surface-tertiary;
                            box-shadow: inset 0px 0px 5px 0px #303131;
                        }
                    }
                    input {
                        @apply bg-slate-800;
                    }
                }
            }

            #grid-breadscrumb {
                @apply border-surface-quaternary;

                ul > li {
                    @apply text-slate-300;
                }
            }

            #grid-items {
                @apply text-slate-200;

                .cell-item {
                    @apply border-surface-quaternary;

                    .cell-item-label {
                        background:rgb(0 0 0 / 73%);
                    }

                    &:hover {
                        @apply bg-slate-800;
                    }

                    h3 {
                        @apply text-slate-300;
                    }

                    i, span {
                        @apply text-slate-400;
                    }
                }
            }
        }
    }
}

.pos-button-clicked {
    box-shadow: inset 0px 0px 5px 0px #a4a5a7;
}

#ns-pos-customers {
    @apply bg-surface-tertiary;
    .ns-header {
        @apply border-surface-quaternary;
        h3 {
            @apply text-primary;
        }
    }
    .ns-body {
        @apply bg-surface-tertiary;
    }
}