:root {
    --ns-bg-color: rgb(15 23 42 / var(--tw-bg-opacity)) !important;
    --ns-box-bg-color: rgb(51 65 85 / var(--tw-bg-opacity)) !important;
    --ns-text-color: rgb(203 213 225 / var(--tw-text-opacity)) !important;
    --ns-light-text-color: rgb(226 232 240 / var(--tw-text-opacity)) !important;
    --ns-border-color: rgb(30 41 59 / var(--tw-border-opacity)) !important;
}